
@font-face { font-family: Bit; src: url('../Minecraft.ttf'); } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bit;
}

html, body{
  height: 100%;
}
#root{
  height: 100%;
}

body{
  background-image: url("pokemonbg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
